# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
.env
.envrc
.direnv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# System files
Thumbs.db

# Other
*.sqlite3
*.db

# Ignore secrets/example files
.env.example 

# Cronjob Script
add_github_traffic_cron.sh

#Github Runner
actions-runner/

#Modified repos
repos.yaml